footer {
    display: flex;
    justify-content: space-around;
    height: 123px;
    background: $primary;
    left: 0;
    color: $white;
    font-family: $textContent;
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 0;

    h3 {
        font-family: $textContent;
        font-weight: 400;
        font-size: 14px;
        color: $white;
        text-align: center;
    }

    .container-horaries,
    .container-adress,
    .container-com {
        margin-top: 20px;
        text-align: center;
        line-height: 1.5em;
        width: 141px;
    }

    p,
    span {
        font-family: $textContent;
        font-size: 12px;
        color: $white;
    }

    a {
        color: $white;

        i {
            letter-spacing: 0.3em;
        }
    }

}