nav {
    @include flexCenter;
    background-color: $primary;
    height: 52px;

    .container-title-nav {

        h2 {
            font-family: $bigTitle;
            font-weight: 400;
            font-size: 16px;
            color: $white;
            position: absolute;
            left: 50px;
            top: 15px;
        }
    }

    ul {
        display: flex;

        li {

            a {
                text-decoration: none;
                font-family: $title;
                font-size: 18px;
                font-weight: 400;
                color: $white;
                padding: 20px;


                &:hover {
                    color: $secondary;
                }

            }
        }
    }
}

.button {
    @include flexCenter;
    right: 70px;
    top: 25px;
    position: absolute;
}

.link {
    display: none;
}

#icons {
    cursor: pointer;
    display: none;
}

@media (max-width: 900px) {

    .button {
        display: none !important;

    }

    #icons {
        display: block;
    }

    #icons::before {
        content: "\2630";
        color: $white;
        position: absolute;
        font-size: 25px;
        right: 20px;
        top: 8px;
    }

    .active #icons:before {
        content: "\2715";
        color: $white;
        font-size: 15px;
    }

    nav ul {
        position: absolute;
        left: 100%;
        top: 52px;
        flex-direction: column;
        background: $primary;
        width: 100%;
        text-align: left;
        z-index: 2;

        li {
            padding: 3px 0;
            color: $white;
            height: 30px;

            &:hover {
                background: $secondary;
            }

            a:hover {
                color: $white;
            }


        }
    }

    nav.active ul {
        left: 70%;
        width: 30%;
    }
}

aside {
    background: $tertiary;
    height: 40px;
    font-family: $title;

    h2 {
        font-family: $title;
        font-size: 30px;
        color: $dark;
        text-align: center;
        font-weight: 400;
    }
}