@import "./settings.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./pages/home.scss";
@import "./pages/habitat.scss";
@import "./pages/animal.scss";
@import "./pages/services.scss";
@import "./pages/form.scss";
@import "./components/buttons.scss";
@import "./components/modals.scss";
@import "./pages/reviews.scss";