.main-form {
    margin: 0 auto;
    padding-top: 30px;

    form {
        @include flexCenter;
        flex-direction: column;
        text-align: center;
        font-family: $textContent;
        font-size: 12px;

        .form-group {
            margin-bottom: 10px;
            display: flex;
            align-items: start;
            flex-direction: column;

            .invalid-credentials {
                height: 12px;
                color: red;
                font-size: 12px;
                padding: 0px;
                margin: 0px;
                text-align: left;
                display: none;
            }
        }

        select {
            display: flex;
            border-radius: 5px;
            margin: 5px;
            padding: 5px;
            width: 310px;
            font-size: 12px;
        }

        .form-btn {
            display: flex;
            position: relative;
            margin: 0 auto;
        }

    }
}

input,
textarea {
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid $dark;
    margin: 5px;
    padding: 5px;
    width: 300px;

}


.valid {
    outline: solid rgb(140, 205, 140);
}

.invalid {
    outline: solid rgb(255, 183, 183);
}